{{> partials/header}}

<div class="ui container">

  <h1 class="ui dividing header">
    <i class="users icon"></i>
    <div class="content">
      Utilisateurs
      <div class="sub header">{{users.size}} utilisateur(s)</div>
    </div>
  </h1>

  <a href="/users/create" class="ui primary button">
    <i class="user plus icon"></i>
    Ajouter un utilisateur
  </a>

  <div class="ui hidden divider"></div>

  {{#users}}
  <table class="ui celled striped table">
    <thead>
      <tr>
        <th>Nom & Prénom</th>
        <th class="right aligned">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#users}}
      <tr>
        <td>
          <i class="user circle icon"></i>
          {{lastname}} {{firstname}}
        </td>
        <td class="right aligned">
          <a href="./users/profiles/{{id}}" class="ui mini button">
            <i class="id badge icon"></i>
            Profils
          </a>
          <a href="./users/info/{{id}}" class="ui mini button">
            <i class="info circle icon"></i>
            Infos
          </a>
          <a href="./users/edit/{{id}}" class="ui mini blue button">
            <i class="edit icon"></i>
            Modifier
          </a>
          <a href="./users/supprimer/{{id}}" class="ui mini red button">
            <i class="trash icon"></i>
            Supprimer
          </a>
        </td>
      </tr>
      {{/users}}
    </tbody>
  </table>
  {{/users}}

  {{^users}}
  <div class="ui warning message">
    <i class="warning icon"></i>
    Aucun utilisateur trouvé.
  </div>
  {{/users}}

</div>

{{> partials/footer}}
